.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    background-color: #ebe6e1;
    color: rgba(83, 107, 120, 1);
}

.unpaddedList {
    padding: 0%;
}

.select {
    font-size: 1em;
    margin: 1em;
    padding: 0.25em 1em;
    border-radius: 3px;
    border: 2px solid rgba(99, 112, 129, 1);
    background: rgba(253, 247, 250, 1);
    color: rgba(99, 112, 129, 1);
}

.header {
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #faaa1f;
    background-color: white;
}

.nav {
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgba(253, 247, 250, 1);
    background-color: white;
    border-top: 20px solid #ebe6e1;
}

.shoeList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* .user-displayer {
    min-height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    padding-bottom: 10vh;
    color: rgba(253, 247, 250, 1);
    background-color: rgba(255, 55, 166, 1);
} */


/* .avatar {
  height: 10vh;
  width: auto;
} */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vh;
}

body {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: left;
    margin: 1rem 1rem 1rem 1rem;
}

img {
    width: 45%;
    height: auto;
}

.shoeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    width: 60%;
    padding: 1rem 2rem;
    margin: 1rem;
    /* text-align: left; */
    background-color: white;
    color: rgba(83, 107, 120, 1);
}

.shoeCard:hover {
    opacity: 0.5;
}

.single-page-shoe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    border: 4px solid #ebe6e1;
    color: rgba(253, 247, 250, 1);
}

.error-display {
    width: 40vh;
    color: red;
    font-weight: bold;
    background: white;
    border: 2px dashed red;
}

.footer {
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgba(83, 107, 120, 1);
    background-color: white;
    border-top: 20px solid #ebe6e1;
}

@media only screen and (min-width: 600px) {
    .main {
        width: 120vh;
    }
    /* .img {
        width: 50%;
    } */
    .sorter {
        width: 120vh;
    }
    .shoeList {
        width: 120vh;
    }
    .shoeCard {
        width: 120vh;
    }
    .single-page-shoe {
        width: 120vh;
    }
    .error-display {
        width: 120vh;
    }
}